@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: 'Open Sans', sans-serif;
    --primary-color: #9ccc65;
    --primary-dark-color: #6b9b37;
    --secondary-color: #ffee58;
    --error-color: #d32f2f;
    --error-light-color: #ff6659;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
}

/* ORDER POP UP WINDOWS STYLING*/

.order {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    transition: all .4s ease-in-out;
}

.order-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-card {
    max-width: 90%;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.order-card__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.cancel-order__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.cancel-order {
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: var(--primary-dark-color);
    transform: rotate(45deg);
}

.cancel-order::before {
    content: '';
    display: block;
    top: 10px;
    height: 2px;
    width: 28px;
    background-color: var(--primary-dark-color);
    transform: rotate(90deg);
}

.order-card__text {
    width: 100%;
    margin-right: 16px;
}

.order-card h1{
    padding: 0;
    font-size: 1.3rem;
}

.order-form{
    margin-top: 24px;
    width: 60%;
}

.order-form ul {
    list-style: none;
}

.order-form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    border: none;
    border-bottom: 2px var(--primary-color) solid;
    padding: 8px;
    box-shadow: none;
    transition: all .4s ease-in-out;
}

.order-form input:invalid {
    border: none;
    border-bottom: 2px var(--error-light-color) solid;
    transition: all .4s ease-in-out;
}

.order-form input:focus {
    border-bottom: 2px var(--primary-dark-color) solid;
    transition: all .4s ease-in-out;
}

.order-form input:invalid:focus {
    border-bottom: 2px var(--error-color) solid;
    transition: all .4s ease-in-out;
}

input.btn-order {
    border: none;
    width: 50%;
    margin-top: 32px;
}

input.btn-order:focus {
    border: none;
}

.order-form label {
    display: inline-block;
    position: relative;
    top: -32px;
    left: 8px;
    user-select: none;
    font-size: .7rem;
    color: rgba(0,0,0,0.75);
    transition: all .4s ease-in-out;
}

.ul-item li > input:focus + label,
.ul-item li > input:valid:focus + label,
.ul-item li > input:invalid:focus + label,
.ul-item li > input:valid + label,
.ul-item li > input:not(:placeholder-shown) + label {
    top: -48px;
    left: 8px;
}

/* FIRST SCREEN STYLING */

.home-link {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 0;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    user-select: none;
    cursor: pointer;
}

.logo-wrapper:hover .logo-wrapper__first {
    border-color: var(--primary-dark-color);
    transition: all .3s ease-in-out;
}

.logo-wrapper__first {
    background-color: rgba(255,255,255, 0);
    border: var(--primary-color) 2px solid;
    padding: 8px;
    padding-right: 0;
    transition: all .4s ease-in-out;
}

.logo-wrapper__sec {
    padding: 8px;
    padding-left: 0;
    font-weight: 900;
}

.nav-bar__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 16px;
}

li a {
    margin: 10px;
    padding: 8px;
    color: black;
    text-decoration: none;
    border: white 2px solid;
    transition: border-color .3s ease-in-out;
}

li:hover a {
    border-color: var(--primary-color);
    transition: border-color .3s ease-in-out;
}

.first-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/ghbg.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.half {
    width: 50%;
    max-width: 100%;
    height: 100vh;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    width: 80%;
    max-height: 80vh;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 16px;
}

.content-card h1 {
    font-size: 1.7rem;
}

.content-card p {
    margin-top: 24px;
    font-size: 1.1rem;
}

h1 span {
    color: var(--primary-color);
}

.btn-order {
    font-family: var(--primary-font);
    margin-top: 64px;
    border: none;
    background-color: var(--primary-dark-color);
    padding: 12px;
    font-size: 1rem;
    letter-spacing: .1rem;
    border-radius: 2px;
    color: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.btn-order__secondary {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border: 2px #fff solid;
}

.btn-order__secondary:hover {
    border-color: var(--primary-color);
    transition: border-color .3s ease-in-out;
}

.btn-order:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second img {
    display: block;
    width: 60%;
}


/* SECOND SCREEN STYLING*/

.second-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/ghbg2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.second-screen h1 {
    text-align: center;
    font-size: 2rem;
}

.features {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.feature-card {
    margin: 2em;
    padding: 16px;
    width: 20%;
    max-width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    border-left: 8px var(--primary-dark-color) solid;
    border-bottom: 8px var(--primary-color) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 40%;
}

/* ORDER SCREEN STYLING */

.order-screen {
    width: 100%;
    height: 100vh;
}