* {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.first-screen {
    width: 100%;
    height: 100vh;
    background-image: url("../images/first-screen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    background-color: lightgray;
}

.nav-wrapper {
    position: fixed;
}

nav {
    display: block flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    padding: 8px;
}

nav ul {
    display: block flex;
    align-items: center;
    list-style: none;
    margin-left: 15%;
}

button {
    background-color: whitesmoke;
    border-radius: 4px;
    border: none;
    width: auto;
    color: rgb(19, 15, 15);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px;
    transition: all .2s ease-in-out;
}

button:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 4px 7px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
}

.logotype a, li a {
    text-decoration: none;
}

.logotype a{
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}


li a {
    color: rgb(19, 15, 15);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px;
    transition: all .2s ease-in-out;
}

li a:hover {
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.content {
    height: 100%;
    font-family: 'Fire Code', monospace !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h1 {
    color: black;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 47%;
    font-size: 2em;
    text-transform: uppercase;
    user-select: none;
}

/*
Floating h1 animation
*/

@keyframes floating {
    0% {
       transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-25px);
    }

}

.content h1{
    animation-name: floating;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

/*
Dots Animation
*/

@keyframes dots {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.content span {
    animation-name: dots;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.content span:nth-child(2) {
    animation-delay: .2s;
}
.content span:nth-child(3) {
    animation-delay: .4s;
}

.second-creen {
    width: 100%;
    height: 100vh;
    display: flex;
}

.second-screen__half {
    width: 50%;
    height: 100vh;
}

.second-screen__first {
    background-image: url("../images/second-screen__second.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.second-screen__second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-half__content {
    font-size: 1.1em;
    width: 75%;
}

.second-half__content h3 {
    color: rgb(43, 43, 43);
}

.second-half__content p {
    color: darkgray;
}

h3 a {
    text-decoration: underline;
    color: rgb(43, 43, 43);
    transition: all .2s ease-in-out;
}

h3 a:hover {
    color: black;
    transition: all .2s ease-in-out;
}

.third-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.profile-card {
    height: 80vh;
    width: 25%;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}

.profile-card:hover .profile-card__image{
    transform: scale(1.05);
}

.profile-card__wrap {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.profile-card__image {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    transition: transform ease-in-out 0.6s;
    overflow: hidden;
}

.profile-image__1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}